* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 0px 10px 10px;
    
}

main {
    height: 700px;
    background-color: gray;
    padding: 40px 0px;
    
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 45px;
}

/* UTILITY */

.vertical-align {
    vertical-align: middle;
}

.d-inline-block {
    display: inline-block
}

.btn {
    border-radius: 15px;
    padding: 7px 17px;
    color: white;
    font-weight: 600;

}

.blue-btn {
    background-color: blue;
    border: 1px solid gray;

}

.border-btn {
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
}

/* LAYOUT */
.container {
    max-width: 1200px;
    
    margin: 0px auto;
    
}

/*STYLE CUSTOM */
.content {
    border-radius: 15px;
    background-color: white;
    height: 300px;
}

.top {
    
    padding: 30px 30px;
    border-bottom: 1px solid grey;
}

.bottom {
    background-color: white;
    height: 550px;
    padding: 30px 30px;
}

ul {
    list-style-type: none;
}

li {
    margin: 30px 0px;
}
