* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 0px 10px 10px;
    
}

main {
    height: 50px;
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 45px;
}

.vertical-align {
    vertical-align: middle;
}

.d-inline-block {
    display: inline-block
}